*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    position: relative;
    height: 100svh;
    width: 100svw;
    background-color: rgb(1, 88, 114);
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.content{
    width: 100%;
    height: 100%;
}
.border-dark{
    border-radius: 20px;
    border: 5px solid black;
}
.box-shadow{
    box-shadow: 10px solid black;
}